.stats{
    
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin: 0 0;
    padding: 0 0;
}

.itemList {
    background-color: #f3f6f9;
    border: solid;
    margin: 0 0;
    padding: 60px 0px 60px;
    font-size: 20px;
    text-align: center;
    width : 250px;
}

.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    border: solid;
    
    width: 450px;
    margin-bottom: 50px;
    position: relative;
    top: 50%;
    left: 40%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    height: 450px;    
}

.quantity{
    font-weight: bold;
}

.name {
    font-weight: bold;
}

.imgLogo{
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}