tbody tr:nth-child(odd) {
    background-color: #ff33cc;
}

tbody tr:nth-child(even) {
    background-color: #e495e4;
}

.tableHead{
    background-color: blue;
    color: white;
   
}

td {
    width: 350px;
    text-align: center;
}